.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
    padding: 20px;
}
   
.pagination a {
    cursor: default;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-left: 10px;
}
   
.pagination li:not(.disabled) a:hover {
    background-color: bisque;
    cursor: pointer;
}
   
.pagination li a {
    font-weight: bold;
    text-decoration: none;    
}
   
.pagination li.active a {
    color: #000;
    background: #fff;
}
   
.pagination li.disabled a {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
}