* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
}

.pages {
  text-align: center;
  font-size: 3.5rem;
  overflow-x: hidden;
  background-color: #000;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}
